
table{
	border-collapse: collapse;
	color: #66ff00;
	border: solid 5px #66ff00;
	background: #000000;
}

#a td {
	width: 100px;
	height: 100px;
	font-size: 50px;
	color: #66ff00;
	border: 1px solid #66ff00;
	text-align:center;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
}


